.button-container {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-content: center;
    left: 500px;
    top: 150px;
}

.button-element {
    margin: 15px;
    height: 30px;
    border-radius: 5px;;
}

#new-date-input {
    width: 125px;
    height: 30px;
    margin: 15px;
}

#new-game-select {
    width: 125px;
    height: 30px;
    margin-bottom: 100px;
}

#display-checkbox-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#game-container{
    margin: 15px;
}

.points {
    width: 30px;
}

.checkbox {

}

.match-container {
    position: relative;
    top: -300px;
    margin: 50px;
    background-color: antiquewhite;
    border-radius: 15px;
    padding-top: 25px;
    padding-bottom: 25px;
}

#hr-divider {
    position: relative;
    top: -315px;
}

td, th {
    border: 1px solid #777;
    padding: 0.5rem;
    text-align: center;
}
 
table {
    border-collapse: collapse;
}
 
tbody tr:nth-child(odd) {
    background: #eee;
}
caption {
    font-size: 0.8rem;
}