.button-container {
    position: absolute;
    display: flex;
    flex-direction: row;
    left: 500px;
    top: 150px;
}

.button-element {
    margin: 15px;
    height: 30px;
    border-radius: 5px;;
}

.search-element {
    margin: 15px;
    height: 25px;
    width: 275px;
    border-radius: 5px;
    margin-right: -10px;
}

.stat-container {
    position: relative;
    top: -300px;
    margin: 50px;
    background-color: antiquewhite;
    border-radius: 15px;
}

#hr-divider {
    position: relative;
    top: -315px;
}