.button-container {
    position: absolute;
    display: flex;
    flex-direction: row;
    left: 500px;
    top: 150px;
}

.button-element {
    margin: 15px;
    height: 30px;
    border-radius: 5px;;
}

#new-game-input {
    margin: 12px;
    height: 30px;
}

#high-score-input {
    border-radius: 15px;
}

#high-score-label {
    color: rgb(0, 0, 0);
    font-size: large;
    margin-left: 15px;
}

.game-container {
    position: relative;
    top: -300px;
    margin: 50px;
    background-color: antiquewhite;
    border-radius: 15px;
    padding-top: 25px;
    padding-bottom: 25px;
}

#hr-divider {
    position: relative;
    top: -315px;
}

td, th {
    border: 1px solid #777;
    padding: 0.5rem;
    text-align: center;
}

table {
    border-collapse: collapse;
    margin: auto;
}
 
tbody tr:nth-child(odd) {
    background: #eee;
}
caption {
    font-size: 0.8rem;
}